// Changelog styles
// ---------------------------------------

.column--changes {

  [lang="en"] & {

    p {
      -webkit-font-feature-settings: 'kern' 1, 'lnum' 1, 'tnum' 1, 'liga' 1;
      -moz-font-feature-settings: 'kern' 1, 'lnum' 1, 'tnum' 1, 'liga' 1;
      -ms-font-feature-settings: 'kern' 1, 'lnum' 1, 'tnum' 1, 'liga' 1;
      -o-font-feature-settings: 'kern' 1, 'lnum' 1, 'tnum' 1, 'liga' 1;
      font-feature-settings: 'kern' 1, 'lnum' 1, 'tnum' 1, 'liga' 1;

      font-weight: map-get($bodytype, bold);

      @include breakpoint(break-1) {
        text-align: right;
      }
    }
  }
}
