// Global styles
// ---------------------------------------

body {
  background-color: $backgroundColour;
  color: $bodyColour;
  overflow-x: hidden;
}

.section {
  padding: 2rem 0;

  @include breakpoint(break-1) {
    padding: 3rem 0;
  }

  @include breakpoint(break-2) {
    padding: 4rem 0;
  }
}

img:not(.slider-image) {
  -ms-interpolation-mode: bicubic;

  height: auto;
  vertical-align: middle;
  width: 100%;

  @include breakpoint(break-1) {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }
}

.button-align {
  @include baseline(zeta, $bodytype, 2, 2, all);
}

.group {

  &:before {
    content: '';
    display: block;
    width: 20%;
    height: 0.5rem;
  }

  .title {
    color: $headingColour;

    &:before {
      color: #ddd;
      content: "#";
      position: absolute;
      left: 0;
      -webkit-transition: color 0.2s;
      -moz-transition: color 0.2s;
      -ms-transition: color 0.2s;
      -o-transition: color 0.2s;
      transition: color 0.2s;
    }
  }
}

.group--1 {

  &:before {
    background-color: #40CEB6;
  }

  .title:hover:before {
    color: #40CEB6;
  }
}

.group--2 {

  &:before {
    background-color: #BF4141;
  }

  .title:hover:before {
    color: #BF4141;
  }
}

.group--3 {

  &:before {
    background-color: #2BA8D9;
  }

  .title:hover:before {
    color: #2BA8D9;
  }
}

.group--4 {

  &:before {
    background-color: #EFECCA;
  }

  .title:hover:before {
    color: #EFECCA;
  }
}

.group--5 {

  &:before {
    background-color: #7E8AA2;
  }

  .title:hover:before {
    color: #7E8AA2;
  }
}

.group--6 {

  &:before {
    background-color: #D9985F;
  }

  .title:hover:before {
    color: #D9985F;
  }
}

.group--7 {

  &:before {
    background-color: #2C3E50;
  }

  .title:hover:before {
    color: #2C3E50;
  }
}

.group--8 {

  &:before {
    background-color: #FFD34E;
  }

  .title:hover:before {
    color: #FFD34E;
  }
}

.group--9 {

  &:before {
    background-color: #468966;
  }

  .title:hover:before {
    color: #468966;
  }
}

.group--10 {

  &:before {
    background-color: #A7A37E;
  }

  .title:hover:before {
    color: #A7A37E;
  }
}

.group--11 {

  &:before {
    background-color: #ECF0F1;
  }

  .title:hover:before {
    color: #ECF0F1;
  }
}
