// Navigation styles
// ---------------------------------------

.global-nav {
  border-bottom: 1px solid #EDEDED;

  .section {
    padding: 0;
  }

  ul {

    li {
      border-bottom: 1px solid transparent;
      color: $headingColour;
      display: inline-block;
      margin: 0.5rem 1rem -1px 0;

      &.active {
        border-bottom-color: $headingColour;
      }

      &.about {
        float: right;
        margin-right: 0;
      }
    }
  }
}

.locale {
  position: absolute;
  right: 3%;
  top: 10px;

  [lang="zh"] & {
    top: 7px;
  }

  ul {
    list-style-type: none;

    li {
      color: $white;
      display: inline-block;

      @include fontsize(theta, all);

      &:not(:last-child) {
        margin-right: 10px;
      }

      &.active {
        font-weight: 700;
      }

      a {
        color: rgba($white,0.7);

        &:hover, &:active, &:focus {
          color: $white;
        }
      }
    }
  }
}
